{
  "comment": "reg-agent configuration template - copy to config.json and fill in values",
  "version": "1.0",
  "quads": {
    "mode": "allocate",
    "api_server": "",
    "username": "",
    "password": "",
    "api_token": "",
    "user_domain": "redhat.com",
    "lab": "scalelab",
    "_comment_lab": "Valid labs: scalelab, performancelab, byol (byol = bring your own lab, no QUADS API needed)",
    "num_hosts": 6,
    "preferred_model": "r750",
    "workload_name": "",
    "short_description": "",
    "wipe_disks": "yes",
    "cloud_name": ""
  },
  "lab": {
    "ssh_username": "root",
    "ssh_password": ""
  },
  "jetlag": {
    "_comment_allocate": "For allocate mode, provide: cluster_type, worker_node_count, ocp_build, ocp_version, network_stack, pull_secret_path, bmc_password",
    "_comment_import": "For import mode, provide: bastion_host, kubeconfig_path (cluster_type not needed, Regulus will discover)",
    "cluster_type": "mno",
    "worker_node_count": 3,
    "ocp_build": "ga",
    "ocp_version": "latest-4.20",
    "network_stack": "ipv4",
    "ipv6_mode": "",
    "pull_secret_path": "",
    "bmc_password": "",
    "bastion_host": "",
    "kubeconfig_path": "/root/mno/kubeconfig"
  },
  "crucible_controller": {
    "target": "bastion",
    "_comment_target": "Where to install Crucible: 'bastion' (use Jetlag bastion) or 'other' (specify other_host)",
    "user": "root",
    "password": "",
    "other_host": ""
  },
  "crucible": {
    "git_repo": "https://github.com/perftool-incubator/crucible.git",
    "git_branch": "master",
    "install_script": "rh-install-crucible.sh"
  },
  "regulus": {
    "install_subdir": "",
    "bastion_ssh_user": "root",
    "jobs": "",
    "duration": 60,
    "tag": "REG-AGENT",
    "num_samples": 3,
    "test_suite": ""
  }
}
